.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgb(56, 56, 56);
    padding-bottom: 10px;
    

}

.post__footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.post__body{
    flex:1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.post__avatar{
    padding: 20px;
}

.likecomment{
    display : flex;
    align-items: center;
    cursor:pointer;
}

.likecomment > p{
    margin-left: 5px;
}


