.profile{
    flex: 0.5;
    max-width: 100%;
    overflow-y: scroll;
    flex-wrap: wrap; /* Allow flex items to wrap onto new lines */
    color: aliceblue;
    font-family: Arial, sans-serif; /* Font family */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profile::-webkit-scrollbar{
    display: hide;
}

.profile__header{
    display:flex;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 100;
    border-bottom: 1px solid rgb(56, 56, 56);
    padding: 10px 20px;
    background-color: black;
}

.search__label{
    font-size: 20px;
    margin-right: 10px;
}

.profile__header > input {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
    max-width: 500px;
    outline:none;
}

.profile__header > button{
    margin-left: 10px;
    width: 200px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 128, 208);
    color: aliceblue;
    outline:none;
}
