.profile{
    flex: 0.5;
    max-width: 100%;
    overflow-y: scroll;
    flex-wrap: wrap; /* Allow flex items to wrap onto new lines */
    color: aliceblue;
    font-family: Arial, sans-serif; /* Font family */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profile::-webkit-scrollbar{
    display: hide;
}

.profile__header{
    display:flex;
    align-items: center;
    position:sticky;
    top:0;
    z-index: 100;
    border-bottom: 1px solid rgb(56, 56, 56);
    padding: 10px 20px;
    background-color: black;
}

.profile__header > h2 {
    margin-left: 30px;
}

.profile__footer {
    border-bottom: 2px solid rgb(56, 56, 56);
    background-color: black;
}